/* * {
  border-top: 20px solid cyan;  this code right here is the example of *(universal selector which also has the lowest priority but is used when an specific property has to applied to all the elements)
} */

* {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
  color: rgb(88, 87, 87);
}

h1,
h2, h3,
h4 {
  color: #00ffff;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  font-style: italic;
}

h2 {
  font-size: 26px;
  text-align: left;
  font-style: italic;
  margin-bottom: 30px;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul, ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

li:last-child {
  color: red;
  margin-bottom: 0px;
}

article header p {
  font-style: italic;
}
ul li {
  font-style: normal;
}

#testing {
  font-size: 27px;
  font-style: normal;
}
#copyright {
  font-style: italic;
}
.asidepara {
  font-size: 12;
  text-transform: uppercase;
  font-weight: bold;
}
.asidebulletpoints {
  list-style: none;
}

aside {
  background-color: white;
  border-top: 5px solid cyan;
  border-bottom: 5px solid cyan;
  /* padding-top:20px;
  padding-bottom: 20px; */
  padding: 50px 0px;
}

body {
  background-color: white;
}

li:first-child {
  color: red;
  font-weight: bold;
}

/* li:last-child {
  color: red;
} moved up on the bottom li */

/* article p:last-child {
  color: red;
}the reason it was commented to make the name of course authors black as it was red before */

a:link {
  color: cyan;
  text-decoration: none;
}

a:visited {
  color: cyan;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: blue;
  font-style: italic;
}

.header1 {
  background-color: rgb(243, 231, 231);
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; another way of writing the above commented code for coding is below */ 
  padding: 20px 40px; 
  /* here 20 represents height top and bottom included where as 40 represents width right and left included */
  margin-bottom: 60px;

}
/* one important theory of css
the follwoing list is priortised from top to bottom: 
id 
class 
element
universal selector  */

nav a:link {
  font-size: 16px;
  font-weight: bold;
}

/* nav p {
  font-size: 30px;
  font-weight: bold;
} */

.authorsina {
  color: black;
}

article header {
margin-bottom: 40px;
}

p{
  margin-bottom: 15px;
}

.aside-margin-top {
  margin-top: 50px;
}
