/* * {
  border-top: 20px solid cyan;  this code right here is the example of *(universal selector which also has the lowest priority but is used when an specific property has to applied to all the elements)
} */

* {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
  color: rgb(88, 87, 87);
}

h1,
h2,
h3,
h4 {
  color: #00ffff;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  font-style: italic;
}

h2 {
  font-size: 26px;
  text-align: left;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

li:last-child {
  color: red;
  margin-bottom: 0px;
}

article header p {
  font-style: italic;
}
ul li {
  font-style: normal;
  /* display: inline; just to understand the concept that li is an block element and it can be converted into inline element */
}

#testing {
  font-size: 27px;
  font-style: normal;
}
#copyright {
  font-style: italic;
}
.asidepara {
  font-size: 12;
  text-transform: uppercase;
  font-weight: bold;
}
.asidebulletpoints {
  list-style: none;
}

aside {
  background-color: white;
  border-top: 5px solid cyan;
  border-bottom: 5px solid cyan;
  /* padding-top:20px;
  padding-bottom: 20px; */
  padding: 50px 0px;
  width: 500px;
}

body {
  background-color: white;
  position: relative; /*the concept of positioning of elements, after setting the position of button "Like" to position: absolute make the postion of of body:relative in order to break the button's absolute postion with view-port and so that the button can be placed anywehre with-in the body. */
}

li:first-child {
  color: red;
  font-weight: bold;
}

/* li:last-child {
  color: red;
} moved up on the bottom li */

/* article p:last-child {
  color: red;
}the reason it was commented to make the name of course authors black as it was red before */

a:link {
  color: cyan;
  text-decoration: none;
}

a:visited {
  color: cyan;
}

a:hover {
  color: orangered;
  font-weight: bold;
  /* text-decoration: underline wavy orangered; */
}

a:active {
  background-color: blue;
  font-style: italic;
}

.header1 {
  background-color: rgb(243, 231, 231);
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; another way of writing the above commented code for coding is below */
  padding: 20px 40px;
  /* here 20 represents height top and bottom included where as 40 represents width right and left included */
  margin-bottom: 60px;
  height: 18%;
  border-top: 10px solid cyan;
}
/* one important theory of css
the follwoing list is priortised from top to bottom: 
id 
class 
element
universal selector  */

nav a:link {
  font-size: 16px;
  font-weight: bold;
  /* background-color: black; */
  /* margin: 5%; just to understand the box models that only in them paddings and margin only applies in hirzontal manner in them */
  /* display: block; conversion of box models form inline lement to block level elment  */
  margin-right: 5%;
  /* margin-top: 2%; this will not work because nav was inline box (and in inline box height and widht cannot be assigned)  beofre converting it to inline-block below */
  display: inline-block;
  margin-top: 1%; /* now this works because it has been converted from inline box to inline-block box */
}

nav a:link:last-child {
  margin-right: 0%;
}

/* nav p {
  font-size: 30px;
  font-weight: bold;
} */

.authorsina {
  color: black;
}

article header {
  margin-bottom: 40px;
}

p {
  margin-bottom: 15px;
}

.aside-margin-top {
  margin-top: 50px;
  background-color: rgb(243, 231, 231);
}

/* the beneath code is used to adapt the parent contaier size which is header and forom now onwards we will be using dimensions of images in percentages and will be assigning in css file but not in html file */
.code-image {
  width: 100%;
  height: auto;
}

/* .container {
  width: 70%;
  /* margin-left: auto;
  margin-right: auto; */
/*margin: 0 auto;*/ /*here 0 is height and auto is margin both left and right*/
/* } */

.container {
  width: 70%;
  margin: 0 auto;
  /*position: relative;*/ /*later on the its position was also set to relative so that the button's position can be come in relation with container and can be placed anywhere within the container which in this case was <div> element*/
}

button {
  font-size: 15px;
  padding: 1%;
  cursor: pointer;
  position: absolute;
  /* top: 0; */
  /* left: 0px;
  bottom: 0px; */
  bottom: 50px;
  right: 50px;
}

.second-header {
  margin-bottom: 80px;
  /* position: relative; */
}

.why-html::first-letter {
  font-size: 50px;
  font-style: italic;
}

.second-header h2::first-letter {
  font-size: 50px;
}

/* p::first-line {
  color: red; the concept of psudeo elements
} */

/* .second-header + p::first-line {
  color: red; the concept of adjacent element or adjacent sibling
} */

.second-header h2::after {
  /*the concept of before and after psudeo-element*/
  content: "TOP";
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 0%;
  padding: 0.5%;
  /* right: -12% we can also write like this  */
  background-color: yellow;
}

.author-pic {
  display: block;
}

h2 {
  padding-right: 5%;
  font-size: 40px;
  /* background-color: orange; */
}
